/* * {
  border: 1px solid black;
}
*/

body {
  display: flex;
  justify-content: center;
}

/* body bitti */

.header {
padding-top: 1rem;
}

.container-mode {
display: flex;
justify-content: end;
max-width: 100%;
gap: 1rem;
}
.container-name {
  position: relative;
  display: inline-block;
}
.letter {
  position: absolute;
  top: 12%;
  left: 52%;
  transform: translate(-50%, -50%) rotate(30deg);
  font-size: 24px; /* Harfin boyutunu ayarlayın */
  font-weight: bold;
  color: #7B61FF; /* Resmin üstündeki harfin rengine karar verin */
}

.dark-mode {
display: flex;
align-items: center;
gap: .5rem;
p{
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 18.15px;
letter-spacing: 0.1em;
text-align: left;
color: #777777;
}
}
.container-links {
display: flex;
justify-content: space-between;
max-width: 100%;
align-items: center;
margin-top: 1.5rem;
}

.container-hire {
display: flex;
gap: 5rem;
button {
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #3730A3;
background-color: white;
}
p {
font-family: Inter;
font-size: 18px;
font-weight: 500;
color: #6B7280;
}
}

.container-hire button {
width: Hug (131px)px;
height: Hug (52px)px;
top: 92px;
left: 1135.46px;
padding: 12px 32px 12px 32px;
gap: 10px;
border-radius: 6px;
border: 1px;
opacity: 0px;
border: 1px solid #3730A3
}

/* header bitti */

.hero {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  }

.hero-img img {
width: 100%;
height: 375px;
border-radius: 18px;
}

.isim {
width: 50%;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #4338CA;
display: flex;
gap:1rem;
align-items: center;
img{
  width: 7rem;
  height: 0px;
  border: 1px solid #3730A3
}
}

.hire-button {
width: Hug (131px)px;
height: Hug (52px)px;
padding: 12px 32px 12px 32px;
gap: 10px;
border-radius: 6px;
opacity: 0px;
background: #3730A3;
color: white;
font-family: Inter;
font-size: 15px;
}
.linkedin-button {
  width: Hug (139px)px;
height: Hug (52px)px;
padding: 12px 20px 12px 12px;
gap: 10px;
border-radius: 6px;
border: 1px;
opacity: 0px;
color: #3730A3;
border: 1px solid #3730A3;
font-family: Inter;
font-size: 15px;
font-weight: 500;
i {
  width: 30px;
  }
}
.github-button {
width: Hug (127px)px;
height: Hug (52px)px;
padding: 12px 20px 12px 12px;
gap: 10px;
border-radius: 6px;
opacity: 0px;
border: 1px #3730A3;
color: #3730A3;
border: 1px solid #3730A3;
font-family: Inter;
font-size: 15px;
font-weight: 500;
i {
width: 30px;
}
}
.hero-left {
  width: 47%;
}
.hero-left h1 {
font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 72px;
text-align: left;
}
.hero-left p {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #6B7280;
}

.hero-buttons {
  display: flex;
  gap: .7em;
  margin-top: 2.5rem;
}

/* hero bitti */

.skills {
max-width: 1440px;
margin-top: 3rem;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: 3rem;
margin-top: 7rem;
h1{
  margin: 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: #1F2937;
    }
}
.skills-list {
  display: flex;
  justify-content: space-between;
}
.js {
width: 23%;
p{
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 16px;
color: #6B7280;
}
h3{
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 28px;
color: #4338CA;
}
}
.react {
  width: 23%;
  p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #6B7280;
    }
    h3{
      font-family: Inter;
      font-size: 30px;
      font-weight: 500;
      line-height: 28px;
      color: #4338CA;
      }
}
.node {
  width: 23%;
  p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #6B7280;
    }
    h3{
      font-family: Inter;
      font-size: 30px;
      font-weight: 500;
      line-height: 28px;
      color: #4338CA;
      }
}

/* SKills bitti*/

.profile {
max-width: 1440px;
font-family: Arial, sans-serif;
display: flex;
justify-content: space-between;
}
.profile h1 {
color: #4338CA;
font-family: Inter;
font-size: 30px;
font-weight: 500;
line-height: 28px;
}
.profile-details {
  display: flex;
  flex-direction: column; 
  width: 30%;
}
.profile-item {
  display: flex;
  justify-content: space-between;
}
.label {
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0.01em;
text-align: left;
color: #000000;
}
.value {
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.01em;
text-align: left;
color: #000000;
}
.about-profile{
margin-right: 20rem;
margin-bottom: 5rem;
width: 30%;
width: 576.9px;
height: 182px;

p{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: #6B7280;
}
}
.hr{
width: 1440px;
border: 1px;
border: 1px solid #BAB2E7
}
.special-profile {
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 48px;
text-align: left;
color: #1F2937;
}

/* profile bitti*/





































/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 9px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #19d122;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}